.offcanvasheader{
  background-color: #0096C7 !important;
}

.offcanvasFooter .btn-primary {
    margin-top: 15px;
    background-color:#0096C7;
}    
  
.focused {
    border-width: 3px;
    border-color: #0096C7;
}
  
.addBrandForm-dark {
    background-color: rgb(35, 35, 35);
    color: rgb(250, 250, 250);
}