h3 {
  margin-left: 1rem;
  font-size: 2.2rem;
}

.products-light{
    background-color: rgb(255, 255, 255);
    padding-left: 125px;
    height : 60rem;
}

.products-dark{
   background-color: rgb(27, 27, 27);
   padding-left: 125px;
   height : 94vh;

}

.productPageHeader-light {
  margin-bottom: 10px;
}

.productPageHeader-dark {
  color: white;
  margin-bottom: 40px;
}

.addProduct-card-dark {
    background-color: rgb(39, 38, 38);
    border-radius: 5px;
    border: 1px solid rgb(40, 39, 39);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);    
}

.addProduct-card-light {
    border-radius: 5px;
    border: 1px solid rgb(239, 237, 237);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1); 
}
